body{
    padding-left: 15%;
    padding-right: 15%;
    padding-top: 0px;    
    margin: 0;
    background-color: #D3DAD3;
    }

.login{
    width: 700px;
    height:300px;
    margin-top: 150px;
    margin-left: auto;
    margin-right: auto;
    background-color: #ffffff;
}

.id1{
    margin: 0px;
    padding: 0px;
}